:root {
    --logo-color: #2196f3;
    --header-nav-text-color: #212121;
    --header-contacts-text-color: #757575;
    --contacts-hover-color: #2196f3;
    --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
    --footer-adress-text-color: #ffffff;
    --main-header-color: #ffffff;
    --order-button-color: #ffffff;
    --order-button-background: #2196f3;
    --second-header-color: #212121;
    --third-header-color: #212121;
    --team-names-color: #212121;
    --portfolio-filter-button-background: #f5f4fa;
  }