:root {
  --logo-color: #2196f3;
  --header-nav-text-color: #212121;
  --header-contacts-text-color: #757575;
  --contacts-hover-color: #2196f3;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
  --footer-adress-text-color: #ffffff;
  --main-header-color: #ffffff;
  --order-button-color: #ffffff;
  --order-button-background: #2196f3;
  --second-header-color: #212121;
  --third-header-color: #212121;
  --team-names-color: #212121;
  --portfolio-filter-button-background: #f5f4fa;
}

body {
  font-family: Roboto;
  color: #757575;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-------------------------------Header-------------------------------*/

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: baseline;
  background: #ffffff;
}

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
}

.header-link-menu {
  color: var(--header-nav-text-color);
}

.navigation-list {
  display: flex;
}

.navigation-list-item {
}

.navigation-list-item + .navigation-list-item {
  margin-left: 50px;
}

.header-link-menu:hover {
  color: #2196f3;
}

.header-link-contacts {
  color: var(--header-contacts-text-color);
}

.header-link-contacts + .header-link-contacts {
  margin-left: 50px;
}

.header-link-contacts:hover {
  color: var(--contacts-hover-color);
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  width: 145px;
}

.logo-web {
  color: var(--logo-color);
}

.logo-studio-header {
  color: #212121;
}

.logo-studio-footer {
  color: #ffffff;
}
/*--------------------------------Main-------------------------------*/

/*--------------------------Order-------------------------*/
.order-container {
  background: #2f303a;
}

.order-content {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-header-color);
}

.button-container {
  margin-top: 30px;
}

.order-service-btn {
  min-width: 200px;
  margin-top: 30px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--order-button-color);
  background: var(--order-button-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.order-service-btn-text {
  padding: 10px 0;
}

/*--------------------------Specials-------------------------*/
.specials-content {
  padding-top: 94px;
}

.specials-list {
  display: flex;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.specials-list-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.specials-list-item:first-child {
  margin-left: 0;
}

.specials-name {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-header-color);
}

.specials-desc {
  line-height: 1.71;
  padding-top: 10px;
}

/*--------------------------What we do-------------------------*/

.producing-content {
  padding: 94px 0;
}

.producing-list {
  display: flex;
  margin-top: 50px;
}

.producing-list-item + .producing-list-item {
  margin-left: 30px;
}

.second-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-header-color);
}

/*--------------------------Team-------------------------*/

.team {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-content {
  padding: 94px 0;
  background: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item + .team-list-item {
  margin-left: 30px;
}

.team-name {
  font-weight: 500;
  text-align: center;
  padding: 30px 0px 10px;
  color: var(--team-names-color);
}

.team-pos {
  text-align: center;
  padding-bottom: 30px;
}
/*------------------------------Portfolio----------------------*/

.portfolio-content {
  padding: 94px 0;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
}

.portfolio-filter-list-item + .portfolio-filter-list-item {
  margin-left: 8px;
}

.portfolio-filter-btn {
  font-family: inherit;
  background: var(--portfolio-filter-button-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  min-height: 38px;
  text-align: center;
  border: 0;
}

.filter-btn-text {
  padding: 6px 22px;
}

.portfolio-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 54px;
}

.portfolio-list-item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.item-description {
  padding: 20px 24px;
}

.portfolio-list-item-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--third-header-color);
}

.portfolio-list-item-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

/*------------------------------Footer----------------------*/
.footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-content {
  display: flex;
  flex-direction: column;
  background: #2f303a;
  padding: 60px 0;
}

.logo-footer {
  margin-right: 0;
}

.adress {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer-adress {
  font-style: normal;
  color: var(--footer-adress-text-color);
}

.footer-contacts {
  font-style: normal;
  margin-top: 9px;
  color: var(--footer-contacts-text-color);
}

.footer-contacts:hover {
  color: var(--contacts-hover-color);
}
