.agree {
    @include align-list;
    justify-content: center;
    border: none;
    margin-bottom: 30px;

    &__accept {
        font-size: 12px;
        line-height: 1.17;

        @include desk{
            font-size: 14px;
            line-height: 1.71;
        }
        letter-spacing: 0.03em;
        margin-left: 9px;
        color: #757575;
    }

    &__link {
        color: #2196f3;
        text-decoration: underline;
    }
}