.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.22);
}

.modal {
    width: 528px;
    min-height: 581px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: modal-close-open;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-iteration-count: initial;
}

.contact-form {
    padding: 40px;

    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
      
        color: #212121;
        margin-bottom: 12px;
    }

    &__label {
        display: block;
        margin-bottom: 10px;
    }

    &__name {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        margin-bottom: 4px;
        color: #757575;
    }

    &__inblock {
        position: relative;
        @include align-list;
    }

    &__input {
        height: 40px;
        width: 100%;
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 42px;
        cursor: pointer;
        outline: none;
      
        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__input:hover {
        border: 1px solid #2196f3;
    }

    &__input:focus {
        border: 1px solid #2196f3;
    }

    &__icon {
        position: absolute;
        padding-left: 14px;
      
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__inblock:hover &__icon {
        fill: #2196f3;
    }

    &__inblock:focus &__icon {
        fill: #2196f3;
    }

    &__text {
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        resize: none;
        outline: none;
        cursor: pointer;
        color: rgba(117, 117, 117, 0.5);
        padding: 12px 16px;
    }

    &__text:hover {
        border: 1px solid #2196f3;
    }

    &__text:focus {
        border: 1px solid #2196f3;
    }
  }
  