.toggle {
    display: flex;
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;

    &__item{
      fill: #212121;
    }

    &:hover &__item{
      fill: var(--accent-color);
    }
}

@media (min-width: 768px){
    .toggle{
        display: none;
    }
}