:root {
  --logo-color: #2196f3;
  --header-nav-text-color: #212121;
  --header-contacts-text-color: #757575;
  --contacts-hover-color: #2196f3;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
  --footer-adress-text-color: #ffffff;
  --main-header-color: #ffffff;
  --order-button-color: #ffffff;
  --order-button-background: #2196f3;
  --second-header-color: #212121;
  --third-header-color: #212121;
  --team-names-color: #212121;
  --portfolio-filter-button-background: #f5f4fa;
}

body {
  font-family: Roboto;
  color: #757575;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-------------------------------Header-------------------------------*/

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: baseline;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__link {
  color: var(--header-nav-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover {
  color: #2196f3;
}

.navigation__link:focus {
  color: #2196f3;
}

.current {
  color: var(--contacts-hover-color);
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -33px;
  border-radius: 2px;
  background-color: var(--contacts-hover-color);
}

.navigation__list {
  display: flex;
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.header__connect {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__contacts {
  display: flex;
  align-items: center;
  color: var(--header-contacts-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts + .header__contacts {
  margin-left: 30px;
}

.header__contact {
  margin-right: 10px;
  fill: rgba(117, 117, 117, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts:hover {
  color: var(--contacts-hover-color);
}

.header__contacts:hover .header__contact {
  fill: var(--contacts-hover-color);
}

.header__contacts:focus {
  color: var(--contacts-hover-color);
}

.header__contacts:focus .header__contact {
  fill: var(--contacts-hover-color);
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  width: 145px;
}

.logo__web {
  color: var(--logo-color);
}

.logo__studio {
  color: #212121;
}

.logo__studio-footer {
  color: #ffffff;
}

/*--------------------------------Main-------------------------------*/

/*--------------------------Order-------------------------*/
.order {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/slider1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
  padding: 200px 0;
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-header-color);
}

.button-container {
  margin-top: 30px;
}

.order__btn {
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--order-button-color);
  background: var(--order-button-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

/*--------------------------Specials-------------------------*/
.specials {
  padding-top: 94px;
}

.specials__list {
  display: flex;
  padding: 0;
  margin: 0;
}

.specials__item {
  width: 270px;
}

.specials__item + .specials__item {
  margin-left: 30px;
}

.specials__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  background-color: rgba(245, 244, 250, 1);
  margin-bottom: 30px;
}

.specials__name {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-header-color);
}

.specials__desc {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  margin-top: 10px;
}

/*--------------------------producing-------------------------*/

.producing {
  padding: 94px 0;
}

.producing__list {
  display: flex;
  margin-top: 50px;
}

.producing__item {
  position: relative;
  overflow: hidden;
}

.producing__item + .producing__item {
  margin-left: 30px;
}

.producing__item > .producing__name {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 27px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.second-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-header-color);
}

/*--------------------------Team-------------------------*/

.team {
  padding: 94px 0;
  background: #f5f4fa;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__list {
  display: flex;
  margin-top: 50px;
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item + .team__item {
  margin-left: 30px;
}

.team__member {
  padding-top: 30px;
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--team-names-color);
}

.team__pos {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.team__social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding-bottom: 30px;
}

.team__social + .team__social {
  margin-left: 10px;
}

.team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: rgba(175, 177, 184, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover {
  background-color: rgba(33, 150, 243, 1);
}

.team__link:hover .social__icon {
  fill: rgba(255, 255, 255, 1);
}

.team__link:focus {
  background-color: rgba(33, 150, 243, 1);
}

.team__link:focus .social__icon {
  fill: rgba(255, 255, 255, 1);
}
/*------------------------------Regular clients----------------------*/

.clients {
  padding: 94px 0;
}

.clients__list {
  display: flex;
  margin-top: 50px;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon {
  fill: rgba(175, 177, 184, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover {
  border-color: rgba(33, 150, 243, 1);
}

.clients__link:hover .client__icon {
  fill: rgba(33, 150, 243, 1);
}

.clients__link:focus {
  border-color: rgba(33, 150, 243, 1);
}

.clients__link:focus .client__icon {
  fill: rgba(33, 150, 243, 1);
}
/*------------------------------Portfolio----------------------*/

.portfolio {
  padding: 94px 0;
}

.portfolio__filter-list {
  display: flex;
  justify-content: center;
}

.filter__item {
  transition-property: box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter__item:hover .filter__btn {
  color: #ffffff;
  background-color: #2196f3;
}

.filter__item:focus .filter__btn {
  color: #ffffff;
  background-color: #2196f3;
}

.filter__btn {
  font-family: inherit;
  background: var(--portfolio-filter-button-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  color: #212121;
  border-radius: 4px;
  min-height: 38px;
  text-align: center;
  padding: 6px 22px;
  border: 0;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
  margin-top: 54px;
}

.portfolio__item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;

  transition-property: box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  height: 100%;
  width: -webkit-fill-available;
  padding: 63px 24px;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:hover .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__description {
  padding: 20px 24px;
}

.portfolio__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--third-header-color);
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

/*------------------------------Footer----------------------*/
.footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background: #2f303a;
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: center;
}

.logo-footer {
  margin-right: 0;
  font-style: normal;
  margin-bottom: 20px;
}

.footer__connect {
  display: flex;
  flex-direction: column;
}

.footer__adress {
  font-style: normal;
  color: var(--footer-adress-text-color);
}

.footer__contacts {
  font-style: normal;
  margin-top: 9px;
  color: var(--footer-contacts-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts:hover {
  color: var(--contacts-hover-color);
}

.footer__contacts:focus {
  color: var(--contacts-hover-color);
}

.social__links {
  margin-left: 70px;
}

.footer__join {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer__social-item + .footer__social-item {
  margin-left: 10px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-icon {
  fill: #ffffff;
}

.footer__social-link:hover {
  background-color: rgba(33, 150, 243, 1);
}

.footer__social-link:focus {
  background-color: rgba(33, 150, 243, 1);
}

.subscribe {
  margin-left: 93px;
}

.subscribe__titel {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe__area {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  outline: none;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
}

.subscribe__icon {
  top: 0;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}
/*------------------------------backdrop----------------------*/
@keyframes modal-close-open {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.22);
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: modal-close-open;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-direction: alternate-reverse;
  animation-iteration-count: initial;
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.modal__close:hover .modal__close-icon {
  fill: #2196f3;
}

.modal__close:focus .modal__close-icon {
  fill: #2196f3;
}

.modal__close-icon {
  fill: #000000;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__contact-from {
  padding: 40px;
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}

.modal__label {
  display: block;
  margin-bottom: 10px;
}

.modal__label-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.modal__input-block {
  position: relative;
  display: flex;
  align-items: center;
}

.modal__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  outline: none;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover {
  border: 1px solid #2196f3;
}

.modal__input:focus {
  border: 1px solid #2196f3;
}

.modal__icon {
  position: absolute;
  padding-left: 14px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input-block:hover .modal__icon {
  fill: #2196f3;
}

.modal__input-block:focus .modal__icon {
  fill: #2196f3;
}

.modal__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  resize: none;
  outline: none;
  cursor: pointer;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}

.modal__text:hover {
  border: 1px solid #2196f3;
}

.modal__text:focus {
  border: 1px solid #2196f3;
}

.modal__agree {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 30px;
}

.modal__check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16px;
}

.accept-agree {
  position: absolute;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  z-index: -1;
  opacity: 0;
}

.custom-check-block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 16px;
  height: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  z-index: 1;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox {
  position: absolute;
  fill: #ffffff;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#check-agree:checked + div {
  background-color: #2196f3;
}

#check-agree:checked + div .custom-checkbox {
  opacity: 1;
}

.modal__accept {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 9px;
  color: #757575;
}

.modal__agreement {
  color: #2196f3;
  text-decoration: underline;
}

.modal__submit {
  display: flex;
  width: 100%;
  justify-content: center;
}

.modal__button {
  width: 200px;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: 0;

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}
