.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
    width: 145px;

    &__web {
        color: var(--logo-color);
    }

    &__studio {
        color: #212121;
    }

    &__studio-footer{
        color: #ffffff;
    }

    &__footer {
        margin-right: 0;
        font-style: normal;
        margin-bottom: 20px;
      }
}


  