.wrap {
    position: relative;
    overflow: hidden;
}

.portfolio {
    padding: 94px 0;

    &__filter-list {
        display: flex;
        justify-content: center;
    }

    &__item {
        transition-property: box-shadow, border-radius;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item + &__item {
        margin-left: 8px;
    }

    &__item:hover {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
          0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

    &__item:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
          0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

    &__btn {
        font-family: inherit;
        background: var(--portfolio-filter-button-background);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
        cursor: pointer;
        color: #212121;
        border-radius: 4px;
        min-height: 38px;
        text-align: center;
        padding: 6px 22px;
        border: 0;
      
        transition-property: color, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:hover &__btn {
        color: #ffffff;
        background-color: #2196f3;
    }

    &__item:hover &__btn {
        color: #ffffff;
        background-color: #2196f3;
    }

    &__list {
        display: flex;
        margin-left: -30px;
        margin-bottom: -30px;
        flex-wrap: wrap;
        margin-top: 54px;
    }

    &__item {
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        width: calc(100% / 3 - 30px);
        margin-left: 30px;
        margin-bottom: 30px;
      
        transition-property: box-shadow, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__overlay {
        position: absolute;
        height: 100%;
        width: -webkit-fill-available;
        padding: 63px 24px;
        top: 0;
        left: 0;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: #ffffff;
        background: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
      
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &__item:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &__item:hover &__overlay {
        transform: translateY(0);
    }

    &__item:focus &__overlay {
        transform: translateY(0);
    }

    &__description {
        padding: 20px 24px;
    }

    &__name {
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--third-header-color);
    }

    &__type {
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        margin-top: 4px;
    }
  }