.producing {
    padding: 94px 0;

    &__list {
        display: flex;
        margin-top: 50px;
    }

    &__item {
        position: relative;
        overflow: hidden;
    }

    &__item + &__item {
        margin-left: 30px;
    }

    &__item > &__name {
        position: absolute;
        margin: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 27px 0;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        background: rgba(47, 48, 58, 0.8);
        color: #ffffff;
    }
  }