.clients {
    padding: 94px 0;

    &__list {
        display: flex;
        margin-top: 50px;
    }

    &__item + &__item {
        margin-left: 30px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        border: 1px solid #afb1b8;
        box-sizing: border-box;
        border-radius: 4px;
      
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon {
        fill: rgba(175, 177, 184, 1);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover {
        border-color: rgba(33, 150, 243, 1);
    }

    &__link:hover &__icon {
        fill: rgba(33, 150, 243, 1);
    }

    &__link:focus {
        border-color: rgba(33, 150, 243, 1);
    }

    &__link:focus &__icon {
        fill: rgba(33, 150, 243, 1);
    }
}