  .header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: baseline;
    background: #ffffff;
    border-bottom: 1px solid #ececec;
  }

  .connect {
    margin-left: auto;
    display: none;
    align-items: baseline;
    flex-direction: column;  

    @include tab{
      display: flex;
    
      &__contacts + &__contacts{
        margin-top: 10px;
      }
    }

    @include desk{
      display: flex;
      align-items: center;
      flex-direction:row;

      &__contacts + &__contacts{
        margin: 0 0 0 30px;
      }
    }

    &__contacts{
        @include align-list;
        
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;

        @include desk{
          font-size: 14px;
          line-height: 1.14;
          letter-spacing: 0.02em;
        }
        color: var(--header-contacts-text-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon{
        margin-right: 10px;
        fill: rgba(117, 117, 117, 1);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__contacts:hover {
        color: var(--contacts-hover-color);
    }

    &__contacts:hover &__icon {
        fill: var(--contacts-hover-color);
    }

    &__contacts:focus {
        color: var(--contacts-hover-color);
    }

    &__contacts:focus &__icon {
        fill: var(--contacts-hover-color);
      }
  }

  .header-container {
    @include align-list;
    height: 80px;
  }

  .navigation {
    @include align-list;
  }
  
  .nav-list {
    display: none;
    @include tab{
      display: flex;
    }

    &__link{
        color: var(--header-nav-text-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: #2196f3;
        }
        
        &:focus {
            color: #2196f3;
        }
    }

    &__item + &__item{
        margin-left: 50px;
    }
  }