.clients {
    padding: 60px 0;

    @include desk{
        padding: 94px 0;
    }
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    @include desk{
        margin-top: 50px;
    }
    margin-left:-30px;

    @include desk{
        margin-left: 0;
    }

    @include desk{
        flex-wrap: nowrap;
    }

    &__item {
        width: calc(100% / 2 - 30px);
        margin: 0 0 30px 30px;

        @include tab{
            width: calc(100% / 3 - 30px); 
        }
        
        @include desk{
            margin: 0 0 0 0;
            width: auto;
        }
    }

    &__item + &__item {
        @include desk{
            margin-left: 30px;
        }
    }

    &__link {
        @include align-list;
        justify-content: center;
        padding: 16px 32px;
        border: 1px solid #afb1b8;
        box-sizing: border-box;
        border-radius: 4px;
      
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            border-color: rgba(33, 150, 243, 1);
        }

        &:focus {
            border-color: rgba(33, 150, 243, 1);
        }
    }

    &__icon {
        fill: rgba(175, 177, 184, 1);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover &__icon {
        fill: rgba(33, 150, 243, 1);
    }

    &__link:focus &__icon {
        fill: rgba(33, 150, 243, 1);
    }
}