.team {
    padding: 60px 0;

    @include desk{
        padding: 94px 0;
    }
    background: #f5f4fa;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include desk{
        flex-wrap: nowrap;
    }
    margin-top: 30px; 

    @include tab{
        margin: 30px 0 -30px -30px
    }

    @include desk{
        margin: 50px 0 0 0;
    }

    &__item {
        width: 450px;
        background: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        @include tab{
            width: 354px;
            margin: 0 0 30px 30px;
        }
    }

    &__item + &__item {
        margin: 30px 0 0 0;  
        
        @include tab{
            margin: 0 0 30px 30px;
        }

        @include desk{
            margin: 0 0 30px 30px;
        }
    }

    &__member {
        padding-top: 30px;
    }

    &__name {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: var(--team-names-color);
    }

    &__pos {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }
}

.team-social {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 30px;

    &__icon {
        fill: rgba(175, 177, 184, 1);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item + &__item{
        margin-left: 10px;
    }

    &__link {
        @include align-list;
        justify-content: center;
        padding: 12px;
        border-radius: 50%;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            background-color: rgba(33, 150, 243, 1);
        }

        &:focus {
            background-color: rgba(33, 150, 243, 1);
        }
    }

    &__link:hover &__icon {
        fill: rgba(255, 255, 255, 1);
    }

    &__link:focus &__icon {
        fill: rgba(255, 255, 255, 1);
    }
}